.fw-helpcenter {
  
    background-position: center top;
  background-image: url("https://images2.imgbox.com/f1/05/GdnVT92g_o.png");
    background-size: cover;

}

.navbar .fw-brand-logo {
max-width: 30rem;
height: 3rem;
}

.fw-wrapper-shadow .fw-content--single-article a {
color: #0074e0;
}

.fw-wrapper-shadow .fw-content--single-article div, .fw-wrapper-shadow .fw-content--single-article li, .fw-wrapper-shadow .fw-content--single-article p {
font-size: 15px;
line-height: 26px;

}

.fw-wrapper-shadow .fw-content--single-article table td, .fw-wrapper-shadow .fw-content--single-article table th {
font-size:15px;
}

.fw-wrapper-shadow .fw-content--single-article h2 {

line-height: 25px;
font-weight: 600;
font-size: 22px;
border-bottom: 1px solid #ddd;
display: block;
padding-bottom: 10px;
padding-top: 20px;

}

.fw-wrapper-shadow .fw-content--single-article h3 {

line-height: 25px;
font-weight: 600;
font-size: 20px;
display: block;
padding-bottom: 10px;
padding-top: 20px;

}

.fw-wrapper-shadow .fw-content--single-article table th {
background-color: #F4F5F7;
}

.fw-wrapper-shadow .fw-content--single-article table {

margin-top: 15px;
margin-bottom: 15px;

}

pre {

font: inherit;
font-size: 15px;

}

.fw-wrapper-shadow .fw-content--single-article pre.fd-callout--note {

border-left: 5px solid #2c5cc5;
background-color: #DEEBFF;

}

.fw-wrapper-shadow .fw-content--single-article pre.fd-callout--idea {

border-left: 5px solid #00875a;
background-color: #E3FCEF;

}

.fw-wrapper-shadow .fw-content--single-article pre.fd-callout--info {

border-left: 5px solid #e86f25;
background-color: #f5dac9;

}

.fw-wrapper-shadow .fw-content--single-article img.fr-dib.fr-fil{
display: block;
margin-left: auto;
margin-right: auto;
}

.fw-wrapper-shadow .fw-content--single-article pre.fd-callout{
margin: 15px 0 15px 0;
padding: 15px 16px 15px;

}

.alert-notice {
color: #943030;
background-color: #fddcdc;
border-color: #fccbcb;
}

/*submit ticket button*/
body .fw-secondary-button{
background-color: #01101f;
color: #ffffff
}

/*footer*/

footer .fw-credit{
  text-align:left;
    padding: 2rem 0;
}
.container{
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
ul.footer__items.clean-list{
padding: 0rem;
}

a.footer_link{
padding: 0rem;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
 width: 20%;
 padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

ul.footer__items.clean-list{
padding: 0rem;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 0px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

nav.fw-laws{
text-align: center;
border-top: #384c5e 1px solid;
margin: 40px 0 0;
padding: 20px 0 0;
}

.copyright-text, .fw-branding{
padding: 0 .5rem;
}

.cookie-policy{
opacity: .7;
padding: 0 0;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}

/*table of content*/
.table-of-contents {
position: sticky;
top: 180px;
border-left: solid;
float: right;
width: 100%;
font-size: 0.875rem;
padding: 0.5em 0.5em;
margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
padding: 0;
}
.table-of-contents li {
margin: 0 0 0.25em 0;
}

.table-of-contents a:hover,
.table-of-contents a:active {
text-decoration: underline;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.table-of-contents li.active > a {
  color: #333;
  font-weight: 500;
}

.table-of-contents a {
  transition: all 50ms ease-in-out; 
}

.bg-grey {
background-color: transparent !important;
}

.fw-sidebar-wrapper {
background-color: var(--bs-grey);
}

.mb-20 {
padding: 1.5rem 1rem 0rem 1rem; 
}

.mb-20 a {
color: #12344d; 
}

.fw-sidebar{
padding: 0 1rem 0rem 1rem;
}

.fw-sidebar h5{
    margin-bottom: 0.5rem;
}